@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  padding: 0px;
}

button {
  background-color: #3ea8c8;
  color: #e2e2e2;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  padding: 6px 8px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

button:hover {
  background-color: #3488a1;
  border: 1px solid white;
  color: white;
}
.placeholder-black::placeholder {
  color: black;
}
